{% load static %}
<footer class="bg-gray-200 pb-6 mt-48">
    <div class="flex justify-between max-w-[1368px] mx-auto pt-16 border-b-1 border-gray-400 pb-16">
        <div>
            <img src="{% static '/assets/logo/Receitoteca-logo.png'%}" alt="Logo Receitoteca" style="width: 180px;" class="gap-y-2">
            <p class="text-gray-500">Plataforma para compartilhar e descobrir receitas incríveis todos os dias.</p>
        </div>

        <div class="flex gap-16">
            <div>
                <h4 class="font-semibold mb-3">Institucional</h3>
                <ul class="space-y-2 text-gray-600">
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>

             <div>
                <h4 class="font-semibold mb-3">Ajuda</h3>
                <ul class="space-y-2 text-gray-600">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Termos de uso</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                </ul>
            </div>
        </div>
        
       
    </div>
    <div class="flex justify-between max-w-[1368px] mx-auto mt-5">
        <span class="text-sm text-gray-600"> © 2025 Receitoteca - Criado por Renan Costa</span>
    </div>

</footer>