{% load static %}
<header class="w-full bg-amber-50 p-2">
    <div class="w-full max-w-[1368px] mx-auto flex justify-between items-center">
        <div class="flex gap-6">
            <i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i>
            <i class="fa-brands fa-linkedin fa-lg" style="color: #000000;"></i>
            <i class="fa-brands fa-whatsapp fa-lg" style="color: #000000;"></i>
        </div>

        <div class="flex gap-6 items-center">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i>
            <button class="bg-none border-1 rounded py-1 px-5 hover:bg-amber-200 hover:border-amber-200 duration-200 cursor-pointer">Login</button>
        </div>
    </div>
</header>

<nav class="w-full flex justify-center">
    <img src="{% static '/assets/logo/logo.png'%}" alt="Logo Receitoteca" style="width: 255px;">
</nav>