{% load static %}
<header class="w-full bg-amber-50 p-2">
    <div class="w-full max-w-[1368px] mx-auto flex justify-between items-center">
        <div class="flex gap-6">
            <i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i>
            <i class="fa-brands fa-linkedin fa-lg" style="color: #000000;"></i>
            <i class="fa-brands fa-whatsapp fa-lg" style="color: #000000;"></i>
        </div>

        <div class="flex gap-6 items-center">
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i>
            <button class="bg-none border-1 rounded py-1 px-5 hover:bg-amber-200 hover:border-amber-200 duration-200 cursor-pointer">Login</button>
        </div>
    </div>
</header>

<nav class="w-full flex justify-center items-center flex-col">
    <img src="{% static '/assets/logo/logo.png'%}" alt="Logo Receitoteca" style="width: 255px;" class="gap-y-2">
    <ul class="flex gap-12">
        <li class="font-medium cursor-pointer">Home</li>
        <li class="font-medium cursor-pointer">Mais Vistas</li>
        <li class="font-medium group relative cursor-pointer">
            Categorias
            <i class="fa-solid fa-chevron-down fa-xs" style="color: #000000;"></i>
            <div class="absolute z-10 hidden bg-white rounded-lg shadow-lg w-48 group-hover:block">
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Bolos e Tortas</a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Carnes</a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Saladas</a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Sobremesas</a>
            </div>

        </li>
        <li class="font-medium cursor-pointer">Últimas Receitas</li>
    </ul>
</nav>