{% extends 'base.html' %}
{% load static %}
{% block title %}Pagina Inicial{% endblock %}
{% block content %}
	<div class="w-full aspect-[16/9] mt-16 lg:h-[644px]">
		<img 
			src="{% static 'assets/imgs/hero-home.png' %}" 
			alt="Imagem Sobre o site Receitoteca"
			class="w-full h-full object-cover"
		>
	</div>
	<section class="max-w-[1368px] mx-auto">
		<h3 class="text-4xl mt-14">Categorias</h3>
		<div class="flex justify-between mt-8 flex-wrap">
			<div class="text-center cursor-pointer">
				<img class="w-40 h-40 rounded-full object-cover mb-3 hover:w-44 hover:h-44 duration-200" src="{% static 'assets/imgs/bebidas.png' %}"  alt="Categoria de Bebidas">
				<span class="text-lg font-medium">Bebidas</span>
			</div>
			<div class="text-center cursor-pointer">
				<img class="w-40 h-40 rounded-full object-cover mb-3 hover:w-44 hover:h-44 duration-200" src="{% static 'assets/imgs/carnes.jpg' %}"  alt="Categoria de Carnes">
				<span class="text-lg font-medium">Carnes</span>
			</div>
			<div class="text-center cursor-pointer">
				<img class="w-40 h-40 rounded-full object-cover mb-3 hover:w-44 hover:h-44 duration-200" src="{% static 'assets/imgs/massas.jpg' %}"  alt="Categoria de Massas">
				<span class="text-lg font-medium">Massas</span>
			</div>
			<div class="text-center cursor-pointer">
				<img class="w-40 h-40 rounded-full object-cover mb-3 hover:w-44 hover:h-44 duration-200" src="{% static 'assets/imgs/pratos-veganos.jpg' %}"  alt="Categoria de Comida Vegana">
				<span class="text-lg font-medium">Vegano</span>
			</div>
			<div class="text-center cursor-pointer">
				<img class="w-40 h-40 rounded-full object-cover mb-3 hover:w-44 hover:h-44 duration-200" src="{% static 'assets/imgs/brownie-com-sorvete.webp' %}"  alt="Categoria de Sobremesas">
				<span class="text-lg font-medium">Sobremesas</span>
			</div>
			<div class="text-center cursor-pointer">
				<img class="w-40 h-40 rounded-full object-cover mb-3 hover:w-44 hover:h-44 duration-200" src="{% static 'assets/imgs/frutos-do-mar.jpg' %}"  alt="Categoria de Sobremesas">
				<span class="text-lg font-medium">Frutos do Mar</span>
			</div>
		</div>
	</section>
{% endblock %}